In [1]:
import pandas as pd
import numpy as np

In [2]:
data_model = pd.read_csv('./data_model_2nd_project.csv',decimal=',',sep='|')
data_model.head()

,ETHNICITY,TERRITORY,ACADEMIC_INTEREST_1,ACADEMIC_INTEREST_2,Enroll,TOTAL_CONTACTS,SELF_INIT_CNTCTS,TRAVEL_INIT_CNTCTS,SOLICITED_CNTCTS,REFERRAL_CNTCTS,...,premiere,interest,stuemail,init_span,int1rat,int2rat,hscrat,avg_income,distance,Instate
0,NaN,N,NaN,NaN,0,1,1,0,0,0,...,0,0,0,48,0.017183,0.02038,0.037652,NaN,NaN,N
1,N,N,NaN,NaN,0,1,1,0,0,0,...,0,0,0,31,0.017183,0.02038,0.037652,NaN,NaN,N
2,C,N,NaN,NaN,0,1,0,0,1,0,...,0,0,1,20,0.017183,0.02038,0.037652,NaN,NaN,N
3,NaN,N,NaN,NaN,0,1,1,0,0,0,...,0,0,1,18,0.017183,0.02038,0.037652,NaN,NaN,N
4,B,N,NaN,NaN,0,2,2,0,0,0,...,0,0,0,18,0.017183,0.02038,0.037652,NaN,NaN,N

**Missing Value**

In [3]:
fix_value_cols = ['ACADEMIC_INTEREST_1','ACADEMIC_INTEREST_2']

In [4]:
data_model.isna().sum()[fix_value_cols]

ACADEMIC_INTEREST_1    2427
ACADEMIC_INTEREST_2    3485
dtype: int64

In [5]:
for col in fix_value_cols:
    data_model[col] = data_model[col].apply(lambda func: 'Unknown' if pd.isna(func) else func)

In [6]:
data_model.isna().sum()[fix_value_cols]

ACADEMIC_INTEREST_1    0
ACADEMIC_INTEREST_2    0
dtype: int64

In [7]:
mean_value_cols = ['distance','avg_income']

In [8]:
data_model[mean_value_cols].dtypes

distance      float64
avg_income    float64
dtype: object

In [9]:
data_model.isna().sum()[mean_value_cols]

distance      671
avg_income    763
dtype: int64

In [10]:
for col in mean_value_cols:
    data_model[col] = data_model[col].astype('double')
    data_model[col] = data_model[col].apply(lambda func: np.mean(data_model[col]) if pd.isna(func) else func)

In [11]:
data_model.isna().sum()[mean_value_cols]

distance      0
avg_income    0
dtype: int64

In [12]:
most_frequent_values_cols = ['sex','ETHNICITY','IRSCHOOL']

In [13]:
data_model.isna().sum()[most_frequent_values_cols]

sex          127
ETHNICITY    598
IRSCHOOL     425
dtype: int64

In [14]:
for col in most_frequent_values_cols:
    data_model[col] = data_model[col].apply(lambda func: data_model[col].mode()[0] if pd.isna(func) else func)

In [15]:
data_model.isna().sum()[most_frequent_values_cols]

sex          0
ETHNICITY    0
IRSCHOOL     0
dtype: int64

In [16]:
data_model['satscore'].isna().sum()

1887

In [17]:
# data_model['satscore'] = data_model['satscore'].interpolate(limit_direction='both')

In [18]:
data_model['satscore'] = data_model['satscore'].interpolate()

In [19]:
data_model['satscore'].isna().sum()

4

**Row Filter**

In [20]:
data_model['init_span'].describe()

count    5160.000000
mean       19.215891
std         9.177806
min      -216.000000
25%        12.000000
50%        18.000000
75%        23.000000
max        72.000000
Name: init_span, dtype: float64

In [21]:
data_model = data_model[data_model['init_span'] > 0 ]

In [22]:
data_model['init_span'].describe()

count    5159.000000
mean       19.261485
std         8.574382
min         3.000000
25%        12.000000
50%        18.000000
75%        23.000000
max        72.000000
Name: init_span, dtype: float64

**Column Filter**

In [23]:
data_model['stuemail']

0       0
1       0
2       1
3       1
4       0
       ..
5155    0
5156    1
5157    1
5158    1
5159    1
Name: stuemail, Length: 5159, dtype: int64

In [24]:
data_model.drop(['TRAVEL_INIT_CNTCTS','REFERRAL_CNTCTS','CONTACT_CODE1','telecq','interest','stuemail'],axis=1,inplace=True)

In [25]:
data_model.head()

,ETHNICITY,TERRITORY,ACADEMIC_INTEREST_1,ACADEMIC_INTEREST_2,Enroll,TOTAL_CONTACTS,SELF_INIT_CNTCTS,SOLICITED_CNTCTS,CAMPUS_VISIT,IRSCHOOL,...,sex,mailq,premiere,init_span,int1rat,int2rat,hscrat,avg_income,distance,Instate
0,C,N,Unknown,Unknown,0,1,1,0,0,447290,...,1.0,1,0,48,0.017183,0.02038,0.037652,53494.7471,318.01614,N
1,N,N,Unknown,Unknown,0,1,1,0,0,447290,...,1.0,1,0,31,0.017183,0.02038,0.037652,53494.7471,318.01614,N
2,C,N,Unknown,Unknown,0,1,0,1,0,447290,...,1.0,1,0,20,0.017183,0.02038,0.037652,53494.7471,318.01614,N
3,C,N,Unknown,Unknown,0,1,1,0,0,447290,...,0.0,1,0,18,0.017183,0.02038,0.037652,53494.7471,318.01614,N
4,B,N,Unknown,Unknown,0,2,2,0,0,447290,...,1.0,1,0,18,0.017183,0.02038,0.037652,53494.7471,318.01614,N

**Rule Engine**

In [26]:
territory_dict = {'1':1,
                '2':2,
                '3':3,
                '4':4,
                '5':5,
                '6':6,
                '7':7,
                '8':8,
               '000':'000',
               'N':'0',
               'A':'0'}

In [27]:
data_model['TERRITORY'].value_counts()

5      661
2      649
3      644
7      628
6      608
4      608
1      597
8      529
A      134
N      100
000      1
Name: TERRITORY, dtype: int64

In [28]:
data_model['TERRITORY'] = data_model['TERRITORY'].map(territory_dict)

In [29]:
data_model['TERRITORY'].value_counts()

5      661
2      649
3      644
7      628
4      608
6      608
1      597
8      529
0      234
000      1
Name: TERRITORY, dtype: int64

**Rule Engine**

In [30]:
data_model['Instate'].value_counts()

Y    3701
N    1458
Name: Instate, dtype: int64

In [31]:
instate_dict = {'N':0,
               'Y':1}

In [32]:
data_model['Instate'] = data_model['Instate'].map(instate_dict)

In [33]:
data_model['Instate'].value_counts()

1    3701
0    1458
Name: Instate, dtype: int64

**String To Number**

In [34]:
string_to_number_cols =  ['TERRITORY','Instate']

In [35]:
data_model[string_to_number_cols].dtypes

TERRITORY    object
Instate       int64
dtype: object

In [36]:
data_model[string_to_number_cols].head()

  TERRITORY  Instate
0         0        0
1         0        0
2         0        0
3         0        0
4         0        0

In [37]:
for col in string_to_number_cols:
    data_model[col] = data_model[col].astype('int64')

In [38]:
data_model[string_to_number_cols].dtypes

TERRITORY    int64
Instate      int64
dtype: object

**Numeric Outliers**

In [39]:
from typing import Union
import numpy as np
def treat_outlier(col:pd.Series, value:Union[int, float], is_int:bool, treatment:['missing','closest']):
    q1 = col.quantile(0.25)
    q3 = col.quantile(0.75)
    iqr = q3 - q1
    min = q1 - 1.5*iqr
    max = q3 + 1.5*iqr
    if treatment == 'closest':
        if (value < min):
            if is_int:
                value = int(min)
            else:
                value = min
        elif (value > max):
            if is_int:
                value = int(max)
            else:
                value = max
    else:
        if (value < min or value > max):
            value = np.nan
    return value

In [40]:
int_cols = ['Instate']
double_cols = ['distance','avg_income']

In [41]:
data_model[int_cols].describe()

           Instate
count  5159.000000
mean      0.717387
std       0.450313
min       0.000000
25%       0.000000
50%       1.000000
75%       1.000000
max       1.000000

In [42]:
for col in int_cols:
    data_model[col] = data_model[col].apply(
    lambda func: treat_outlier(data_model[col], func, True, 'closest')
)

In [43]:
data_model[int_cols].describe()

           Instate
count  5159.000000
mean      0.717387
std       0.450313
min       0.000000
25%       0.000000
50%       1.000000
75%       1.000000
max       1.000000

In [44]:
data_model[double_cols].describe()

          distance     avg_income
count  5159.000000    5159.000000
mean    318.016140   53494.747100
std     345.863092   21310.414143
min       0.790555    9783.000000
25%     107.785293   37414.500000
50%     170.285839   53377.000000
75%     318.016140   62404.000000
max    3882.192379  200001.000000

In [45]:
for col in double_cols:
    data_model[col] = data_model[col].apply(
    lambda func: treat_outlier(data_model[col], func, False, 'closest')
)

In [46]:
data_model[double_cols].describe()

          distance    avg_income
count  5159.000000   5159.000000
mean    259.783737  53062.210271
std     189.199736  20037.800852
min       0.790555   9783.000000
25%     107.785293  37414.500000
50%     170.285839  53377.000000
75%     318.016140  62404.000000
max     633.362411  99888.250000

**Numeric Binner**

In [47]:
min_territory = min(data_model['TERRITORY'])
max_territory = max(data_model['TERRITORY'])
data_model['TERRITORY_binned'] = pd.cut(data_model['TERRITORY'],
                                       bins=[min_territory, 1,3,5,7,max_territory],
                                       labels=['Unknown','Zone 1','Zone 2','Zone 3','Zone 4'])

In [48]:
data_model['TERRITORY_binned'].value_counts()

Zone 1     1293
Zone 2     1269
Zone 3     1236
Unknown     597
Zone 4      529
Name: TERRITORY_binned, dtype: int64

In [49]:
data_model['TERRITORY_binned'].isna().sum()

235

In [50]:
min_total_contacts = min(data_model['TOTAL_CONTACTS'])
max_total_contacts = max(data_model['TOTAL_CONTACTS'])
data_model['TOTAL_CONTACTS_binned'] = pd.cut(data_model['TOTAL_CONTACTS'],
                                            bins=[min_total_contacts-1, 1, 4, max_total_contacts],
                                            labels=['Low','Moderate','High'])

In [51]:
min_init = min(data_model['SELF_INIT_CNTCTS'])
max_init = max(data_model['SELF_INIT_CNTCTS'])
data_model['SELF_INIT_CNTCTS_binned'] = pd.cut(data_model['SELF_INIT_CNTCTS'],
                                            bins=[min_init, 1, 4, max_init],
                                            labels=['Low','Moderate','High'])

In [52]:
data_model['SELF_INIT_CNTCTS_binned'].isna().sum()

1049

In [53]:
min_solicited = min(data_model['SOLICITED_CNTCTS'])
max_solicited = max(data_model['SOLICITED_CNTCTS'])
data_model['SOLICITED_CNTCTS_binned'] = pd.cut(data_model['SOLICITED_CNTCTS'],
                                            bins=[min_solicited, 1, 4, max_solicited],
                                            labels=['Low','Moderate','High'])

In [54]:
data_model['SOLICITED_CNTCTS_binned'].isna().sum()

2792

In [55]:
min_satscore = min(data_model['satscore'].dropna())
max_satscore = max(data_model['satscore'].dropna())
data_model['satscore_binned'] = pd.cut(data_model['satscore'],
                                      bins=[min_satscore,1040,1160,1340,max_satscore],
                                      labels=['54 Percentile and Under','55-75 Percentile','76-93 Percentile', 
                                              '94+ percentile'])

In [56]:
data_model['satscore_binned'].isna().sum()

5

In [57]:
min_avg_income = min(data_model['avg_income'])
max_avg_income = max(data_model['avg_income'])
data_model['avg_income_binned'] = pd.cut(data_model['avg_income'],
                                        bins=[min_avg_income, 42830, 55559, max_avg_income],
                                        labels=['low',' Moderate', 'High'])

In [58]:
data_model['avg_income_binned'].isna().sum()

1

**Partitioning**

In [59]:
data_model.shape

(5159, 27)

In [60]:
from sklearn.model_selection import train_test_split
X = pd.get_dummies(data_model.dropna().drop(['Enroll'],axis=1))
y = data_model.dropna()['Enroll']
X_train, X_test, y_train, y_test = train_test_split(X, y,
                                                    stratify=y, 
                                                    test_size=0.3,
                                                    random_state=53190)

In [61]:
data_model_train_data = X_train.copy()
data_model_train_data['Enroll'] = y_train
data_model_train_data.shape

(1195, 1086)

In [62]:
data_model_test_data = X_test.copy()
data_model_test_data['Enroll'] = y_test
data_model_test_data.shape

(513, 1086)

**Equal Size Sampling**

In [63]:
data_model_train_data['Enroll'].value_counts()

1    768
0    427
Name: Enroll, dtype: int64

In [64]:
class_0 = data_model_train_data[data_model_train_data['Enroll']==0]
class_1 = data_model_train_data[data_model_train_data['Enroll']==1]

In [65]:
class_1 = class_1.sample(len(class_0))

In [66]:
data_model_train_data = pd.concat([class_0,class_1],axis=0)

**Random Forest Learner**

In [67]:
from sklearn.ensemble import RandomForestClassifier
clf_rf = RandomForestClassifier(random_state=1634694125)
clf_rf.fit(data_model_train_data.drop(['Enroll'],axis=1), data_model_train_data['Enroll'])

RandomForestClassifier(random_state=1634694125)

**Random Forest Predictor**

In [68]:
X_test['Prediction ()'] = clf_rf.predict(data_model_test_data.drop(['Enroll'],axis=1))

**Scorer**

In [69]:
from sklearn.metrics import confusion_matrix
y_pred = X_test['Prediction ()']
y_true = data_model_test_data['Enroll']
confusion_matrix = confusion_matrix(y_true=y_true, y_pred=y_pred)
print(confusion_matrix)

[[162  22]
 [ 22 307]]

In [70]:
from sklearn.metrics import accuracy_score
accuracy_score(y_true=y_true, y_pred=y_pred)*100

91.42300194931774

In [71]:
from sklearn.metrics import cohen_kappa_score
cohen_kappa_score(y_pred, y_true)

0.8135654816968415

In [72]:
wrong_classified = confusion_matrix[0,1] + confusion_matrix[1,0]
correct_classified = confusion_matrix[0,0] + confusion_matrix[1,1]

error = (wrong_classified/(wrong_classified + correct_classified))*100
error

8.57699805068226

**Roc Curve**

In [73]:
from sklearn.metrics import roc_auc_score
roc_auc_score(y_true=y_true,y_score=y_pred)

0.9067827408484208

**Decission Tree Learner**

In [74]:
from sklearn.tree import DecisionTreeClassifier
clf_dt = DecisionTreeClassifier(random_state=1634694125)
clf_dt.fit(data_model_train_data.drop(['Enroll'],axis=1), data_model_train_data['Enroll'])

DecisionTreeClassifier(random_state=1634694125)

**Decission Tree Predictor**

In [75]:
X_test['Prediction ()'] = clf_dt.predict(data_model_test_data.drop(['Enroll'],axis=1))

**Scorer**

In [76]:
from sklearn.metrics import confusion_matrix
y_pred = X_test['Prediction ()']
y_true = data_model_test_data['Enroll']
confusion_matrix = confusion_matrix(y_true=y_true, y_pred=y_pred)
print(confusion_matrix)

[[158  26]
 [ 43 286]]

In [77]:
from sklearn.metrics import accuracy_score
accuracy_score(y_true=y_true, y_pred=y_pred)*100

86.54970760233918

In [78]:
from sklearn.metrics import cohen_kappa_score
cohen_kappa_score(y_pred, y_true)

0.7134704582432794

In [79]:
wrong_classified = confusion_matrix[0,1] + confusion_matrix[1,0]
correct_classified = confusion_matrix[0,0] + confusion_matrix[1,1]

error = (wrong_classified/(wrong_classified + correct_classified))*100
error

13.450292397660817

**Roc Curve**

In [80]:
from sklearn.metrics import roc_auc_score
roc_auc_score(y_true=y_true,y_score=y_pred)

0.8639982820140082